[DB]
user = sphinx
password = db@Ba2023
host = 121.199.6.227
port = 63306
database = sphinx


[robot]
webhook = 4c3409fb-c985-4d47-a640-a8cd461692fb


[公用事业]
pe_max=20
pb_max=1.6

[农林牧渔]
pe_max=30
pb_max=3

[电气设备]
pe_max=40
pb_max=5

[综合]
pe_max=35
pb_max=2.3

[建筑装饰]
pe_max=8
pb_max=1

[汽车]
pe_max=25
pb_max=2.3

[休闲服务]
pe_max=40
pb_max=5.4

[食品饮料]
pe_max=37
pb_max=7.4

[商业贸易]
pe_max=18
pb_max=1.4

[建筑材料]
pe_max=12
pb_max=1.8

[纺织服装]
pe_max=19
pb_max=2

[房地产]
pe_max=7
pb_max=0.9

[国防军工]
pe_max=50
pb_max=3

[钢铁]
pe_max=50
pb_max=3

[化工]
pe_max=18
pb_max=2.5

[采掘]
pe_max=12
pb_max=1.2

[计算机]
pe_max=45
pb_max=3.8

[传媒]
pe_max=20
pb_max=2

[电子]
pe_max=28
pb_max=3.8

[机械设备]
pe_max=24
pb_max=2.7

[医药生物]
pe_max=30
pb_max=5

[家用电器]
pe_max=15
pb_max=2.8

[非银金融]
pe_max=15
pb_max=1.3

[通信]
pe_max=16
pb_max=1.4

[交通运输]
pe_max=10
pb_max=1.5

[银行]
pe_max=10
pb_max=0.8

[有色金属]
pe_max=30
pb_max=3

[轻工制造]
pe_max=20
pb_max=2.5
